#discussion_categories
{
	position:fixed;
	margin-top:10px;
	margin-left:13px;
	width:170px;
	padding:5px;
	float:left;
	background-color:#ffffff;
	border-radius:5px;

}
#discussion_main_content{
	width:65%;
	min-width:550px;

	margin-left:25%;
	
}
#discussion_categories a{
text-decoration:none;	
color:black;
	
}
#discussion_categories ul{
		font-size:13px;
		padding-left:0px;
color:red;
text-decoration:none;
}

#discussion_categories li{

	width:170px;
	font-size:17px;
	list-style-type:none;


}
#discussion_categories li:hover{
	background-color:#555555;
	color:white;


}
#add_discussion
{
	border:4px solid #bb2626;
	background-color:#998888;
	border-radius:38px;
	font-size:48px;
	font-weight:bold;
	color:#bb2626;
	position:fixed;
	right:10px;
	bottom:10px;
	
}

	
.textFldstyle{
	width:180px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	
}
.btnStyle{
	border: 2px solid #555599;
	background-color:#996666;
	color:#555599;
}

.highlighted{
	
	width:180px;
	height:180px;
	border-radius:90px;
}

.im_the_chosen{
	position:absolute;
	border-radius:10px;
	left:232.5px;
	top:-13px;
	width:60px;
	height:50px;
	border: 3px solid gold;
	background-color: #ffffff;
	z-index:3;
}

#hello_pic{
	float:right;
	width:205px;
	height:280px;
	overflow:hidden;
}

#charac_div{

   display: -webkit-flex; /* Safari */ 


     display: flex; 

	 flex-wrap:wrap;

  

}

#charac_div img{
	z-index:5;	
}


/* The following code is for the sidbar*/
.main-navbar {

	  position: relative;
	  background-color: #F44336;
	  color: white;
	  z-index: 10;
	}
	 
	.main-navbar-fixed-top {
	  position: fixed;
	  
	  top: 0;
	  right: 0;
	  left: 0;
	  height: 53px;
	}
#dummy_div{
	width:100%;
	height:53px;
}
	 

	.main-navbar-content { padding: 4px 16px; }
	.main-navbar-content a{
		 float: left;
  display: block;
  text-decoration: none; 
	}
	 .main-navbar-content .tab {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
}

 .main-navbar-content ul{ position: relative; background-color: #B71C1C; border-radius:5px;}
	.main-navbar-content ul li{ display: block; }
	
	.clickFade,#play_sound{
float:right;	
	
}
#play_sound{
float:right;	
	margin-top:5px;
margin-right:7px;	
}
.clickFade a{
	display:block;
	color: #FFF;
}
.dropdown-active{ background-color: #B71C1C;  }
.dropdown-active a,visited{ color: white; text-decoration: none; }
	.main-navbar-content ul li a,visited{ display: block; padding: 15px; color: #FFF; text-decoration: none;
    transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
}
 .main-navbar-content ul{ list-style-type: none; padding: 0; margin: 0; }

.main-navbar-content ul li span{ margin: 0 0 0 7px; }

	.left { float: left; }
	 
	.right { float: right; }

	 
	.icon {
	  position: relative;
	  width: 32px;
	  height: 32px;
	}
	 
	.icon img {
	  position: absolute;
	  top: 4px;
	  left: 4px;
	}

	.main-sidebar {
	  position: fixed;

	  top: 0;
	  bottom: 0;

	  background-color: #B71C1C;	
	  color: white;

	  width: 250px;
	}
	 
	.main-sidebar-right {
	  right: 0;
	  text-align: right;
	}
	 
	 
	.main-sidebar-wrapper {
	  position: relative;
	  height: 100%;
	  overflow-y: auto;
	  overflow-x: hidden;
	  padding: 1em;
	}
	.main-sidebar-wrapper li {
    color: black;
    padding: 12px 16px;
	font-size:27px;
	
	
    text-decoration: none;
    display: block;
    text-align: right;
	color:white;
}
.main-sidebar-wrapper a{
	color:white;
	text-decoration:none;
}

.main-sidebar-wrapper li:hover {background-color: #f1f1f1;color:black;}

/*.dropdown:hover .dropdown-content {
    display: block;
}*/

	.main-navbar-content .tab:hover {
  background-color: #ddd;
  color: black;
}
.main-navbar-content img{
	margin-right:5px;
}
.main-navbar-content a.active {
    border:4px solid #aa99cc;
	padding: 9px 12px;
}
/* END OF sidebar css*/
#NEW_POST_FIELDSET{


	margin-left:200px;
	margin-right:30px;
	width:500px;
	background-color:#bcaacc;
}

/*Begining of discussion post styling*/
.post_container{
	width:70%;
	
	background-color:#dddddd;
	border-radius:5px;
}
.title{
	width:44%;
	border-radius:5px;
	margin-left:25%;
	text-align:center;
	background-color:white;padding:9px;
}
.post{

	border:2px solid #bbbbbb;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	margin-top:5px;
	padding:14px;
	background-color:white;
}
.big_pic{
	display:inline-block;
	width:84%;
	
	margin:10%;
	

}
img{
	max-width:100%;
}
.small_pic{
	display:inline-block;
	width:21%;
	height:21%;
	margin:5%;
	
}
.com_div{
	width:90%;
	min-height:35px;
	margin:10px;
}
.post_head {
	width:100%;
	height:70px;
	
}
.post_head h3{
	
	margin:9px;
}
.post_head p{
	font-size:15px;
margin:10px;
}
.user_posted_by{
float:left;
height:70px;
width:70px;
margin-right:5px;	
}
.commenter_pic{
	float:left;

height:32px;
width:32px;
margin-right:5px;
	
}
.reaction_div{
	width:85%;
	height:40px;
	
	margin:auto;
	
}
.vote{
	float:left;
	opacity:0.6;

}
.downvote{
	float:left;
	opacity:0.6;

}
.upvote{
	float:left;
	opacity:0.6;

}
.upvotes_count{
	color:#666666;
	font-size:30px;
	margin-right:6px;
	margin-left:6px;
	float:left;
}
.downvotes_count{
	color:#666666;
	font-size:30px;
	margin-right:6px;
	margin-left:6px;
	float:left;
}
.share{
	margin-right:3px;
	float:right;
}
.delete{
	margin-right:3px;
	float:right;
}	
.gray_text{
color:#888888;
float:right;	
margin-bottom:4px;
}
.gray_text:hover{
text-decoration:underline;
}

.reply_div{
	margin-left:10px;
	margin-right:8px;
  display: flex;
  align-items: center;
}
.reply_div img{
	width:33px;
	height:33px;
	
}
.insert_comment{/*input to hold comment to bee inserted*/

	margin-top:0px;
	padding-top:0px;
	width:80%;
	height:25px;
	margin-left:3px;
	margin-right:3px;
	border:2px solid #888899;
}
.comments{
	
}
.reply{
		color:#666666;
	font-size:28px;
	margin-right:6px;
	margin-left:6px;
	float:left;
}
/*End of discussion post styling*/
#user_holder{
margin-top:3px;
border-radius:5px;
  display: flex;
  align-items: center;
  border:2px solid #999999;
  width:154px;
}

.round_small_image{
	border-radius:10px;
}


/*main page styling*/
#our_cool_div{
	position:relative;
	text-align:center;
}
#dany1{
	z-index:3;
position:absolute;	
top:25px;	
left:25px;
}
#dany13{
		z-index:2;
position:absolute;		
top:25px;	
left:25px;
opacity:0.8;
}
#dany12{
	z-index:1;
position:absolute;	
top:25px;	
left:25px;
opacity:0.4;
}
#dany_box{
	
position:absolute;	
top:30px;	
left:120px;
}
#balish_box{
	
position:absolute;	
top:184px;	
left:120px;
}
#jon_box{
	
position:absolute;	
top:30px;	
right:120px;
}
#cersei_box{
	
position:absolute;	
top:150px;	
right:120px;
}
.box{
	z-index:4;
border-radius:6px;
background-color:white;
width:285px;

border:2px solid #bbbbbb;	
}
.box h3{
	background-color:#cccccc;
	margin:0px;
	padding:4px;
	border-radius:5px 5px 0px 0px;
}
.contento{
padding:15px;
border-radius:5px;
}
.close{
	float:right;
background-color:red;
width:20px;
	}
#jon1{
		z-index:3;
position:absolute;	
top:25px;
right:25px;
	
}
#jon12{
		z-index:1;
position:absolute;	
top:25px;
right:25px;
opacity:0.4;	
}
#jon13{
		z-index:2;
position:absolute;		
top:25px;
right:25px;
opacity:0.8;
}


#cersei1{
		z-index:3;
position:absolute;		
top:300px;
right:25px;
}


#cersei12{
		z-index:1;
position:absolute;		
top:300px;
right:25px;
opacity:0.4;
}
#cersei13{
		z-index:2;
position:absolute;		
top:300px;
right:25px;
opacity:0.8;
}
#finger1{
		z-index:3;
	position:absolute;	
	top:300px;
	left:25px;
}


#finger12{
		z-index:1;
	position:absolute;	
	top:300px;
	left:25px;opacity:0.4;
}

#finger13{
		z-index:2;
position:absolute;		
top:300px;
	left:25px;
opacity:0.8;
}
/*END of */

#imgs_video{

	width:80%;
	margin: 0 auto;
	align-content: center;
}
#fadingimg img {
	width:20%;

	height:200px;
}



#vd{

	margin: 0 auto;
	height: 240px;
	padding: 10px;

}

#note {
	color: #666666;
	font-size: 12px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}

/*html{
	background-color:white;
	position:relative;
}*/

#login_message{
	position:fixed;
	top:53px;
	right:0px;
	z-index:50;
}

/*about us styling*/
#about_us{
	width:65%;
	min-width:350px;
	background-color:white;
	margin-left:15%;
	margin-right:20%;
	margin-top:0px;
	padding:7px;
}
#about_us fieldset{
margin:15px;
	background-color:#faeeee;

}
#about_us strong{
width:120px;
display:inline-block;
}
#about_us textarea,input[type=submit]{
margin-top:8px;
margin-left:120px;


}

/*end of about us styling*/
	#sent{
		
		
		font-size:30px;
		background-color:#ccffcc;
		
	}
	#links{
		
		width:270px;
		
		float:right;
		margin: 7px 20px;
	}
	#links li{
	list-style-type:none;	
	}
	#links a{
	text-decoration:none;	
	color:black;
	
	}
	.link{
		padding:2px 7px;
		background-color:#ffffff;
		border-radius:5px;
		margin-bottom:5px;
		text-decoration:none;
	}
.link img{
		width:250px;
		margin-left:auto;
		margin-right:auto;
	}
.link h5{
		padding:5px;
		font-size:17px;

	}

